body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: hsl(0, 0%, 90%)
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 0%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 2rem;
    border: none;
    color: white;
    text-align: left;
    background-color: hsl(0,0%,40%)
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 25px;
}
button{
        width: 100px;
        height: 100px;
        color: white;
        background-color: hsl(0,0%,30%) ;
        font-size: 3em;
        cursor: pointer;
        border-radius: 50%;
        border: none;
        font-weight: bold;

}
button:hover{
        background-color: hsl(0,0%,40%) ;

}
button:active{
        background-color: hsl(0,0%,50%) ;

}
.operator-btn{
        background-color: hsl(30, 80%, 58%);
}

.operator-btn:hover{
        background-color: hsl(30, 80%, 75%);
}

